node_modules
.git
.gitignore
.next
.env
.env.*
!.env.example
*.md
!README.md
Dockerfile*
docker-compose*
.dockerignore
logs
*.log
npm-debug.log*
.DS_Store
coverage
.nyc_output
*.swp
*.swo
.idea
.vscode
*.sublime-*
